.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

.headline {
    font-size:3em;
    font-weight:700;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
}

.tagline {
    font-style: italic;
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
}

.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}

.chapter {
    font-size:2em;
    font-weight:700;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: georgia, serif;
    line-height: 180%;
}

img {
    text-align: center;
}

.caption {
    font-family:'Montserrat', sans-serif;
    color:grey;
    font-size: 12px;
}