.navbar {
    font-family: 'Lato', sans-serif;
}

.headline {
    font-size:3em;
    font-weight:700;
    text-align:center;
    font-family: 'Lato', sans-serif;
    color:#00557D;
    text-transform: uppercase;
}

.tagline {
    font-style: italic;
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Lora', serif;
}

.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    text-align:center;
}

.chapter {
    font-size:2em;
    font-weight:700;
    font-family: 'Lora', serif;
    color:#00557D;
}

p {
    font-family: 'Lora', serif;
    line-height: 180%;
}

.caption {
    font-family: 'Lora', serif;
    color:grey;
    font-size: 12px;
}

.topper {
    padding-bottom: 50px;
}

.question {
    font-weight: bold;
}

.lyrics {
    font-style: italic;
}

blockquote {
    font-family: 'Lora', serif;
    text-align: right;
    font-style: italic;
    font-size: 40px;
    color:#00557D
}