/*styles for my resume*/

BODY {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1.1em;
    color: #1D3C6E;
    font-weight:400;
}

/*container style*/
#container{
    max-width: 1200px;
    margin: 0 auto;
}

/*banner name at top*/
#name {
    font-size:3em;
    text-align:center;
    color:white;
    background-color:#86AFF0;
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    padding: 5px;
}

/*title*/
#title {
    font-size: 1.8em;
    font-weight: 600;
    color:white;
    background-color:#86AFF0;
    width: 100%;
    text-align: center;
    padding: 5px;
}

/*headers*/
.sectionheader {
    font-size: 2em;
    text-align:center;
    color:white;
    background-color:#86AFF0;
    font-weight:400;
    width: 100%;
    min-width: 300px;
    margin: 10px;
}

/*job titles*/
.jobtitle {
    font-weight:bold;
    font-size: 1.3em;
    color: #1D3C6E;
}

/*job organizations*/
.organization {
    font-weight:400;
    font-size: 1.25em;
    color: #1D3C6E;
}

/*job dates*/
.date {
    font-weight:400;
    font-size: 1em;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: #1D3C6E;
}

/*paragraph style*/
.description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    color: #1D3C6E;
}

/*list contents*/
ul {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/*contact info*/
.menu li {
    display: inline;
    list-style-type: none;
}

/*education style*/
#degrees {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/*skills style*/
#do {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/*mission statement style*/
.top {
    min-width: 300px;
    margin: 0 auto;
}

.bi {
    color:#86AFF0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}