/*styles for my resume*/

BODY {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color:#444;
    font-weight:400;
}

/*container style*/
#container{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

/*banner name at top*/
#name {
    font-size:3em;
    text-transform:uppercase;
    text-align:center;
    color:#33485e;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}

/*title*/
#title {
    text-transform:uppercase;
    font-size: 1.5em;
    font-weight: 600;
    color:#33485e;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/*headers*/
.sectionheader {
    font-size: 1.5em;
    text-transform:uppercase;
    background-color:#33485e;
    color:#fff;
    font-weight:400;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: 70%;
    min-width: 300px;
}

/*job titles*/
.jobtitle {
    font-weight:600;
    font-size: 1.5em;
}

/*job organizations*/
.organization {
    font-weight:400;
    font-size: 1.25em;
}

/*job dates*/
.date {
    font-weight:400;
    font-size: 1em;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/*paragraph style*/
.description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

/*list contents*/
ul {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/*contact info*/
ul.menu {
    display: inline;
}

/*education style*/
#degrees {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/*skills style*/
#do {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

/*mission statement style*/
.top {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}